master
external_secret_key
secret_key
Finance_Tracker/messages/config/master.key
Finance_Tracker/messages/config/external_secret_key.rb
Finance_Tracker/backend/Auth/secret_key.py
Finance_Tracker/settings.py
Finance_Tracker/backend/Components/unused_kafka_registration*
Finance_Tracker/backend/Tests/test_components/old_test_debt*
Finance_Tracker/backend/Tests/test_components/old_test_expenses*
FInance_Tracker/backend/Tests/test_components/old_test_income*
Finance_Tracker/messages/app/controllers/api/unused_user_controller*
Finance_Tracker/messages/app/models/user*
Finance_Tracker/messages/app/consumers/unused_user_registration_consumer*
Finance_Tracker/kafka-4.1.0-src/tests/docker/
docker/
